:root{
    --accent-color: #2196F3;
    --hero-btncolor:#2196F3;
    --blue-logo:#2196F3;
    --black-logo:#000000;
    --white-logo:#ffffff;
    --hero-background: #2F303A;
    --white-text: #ffffff;
    --main-background: #ffffff;
    --team-backround:#F5F4FA;
    --title-name:#212121;
    --title-text:#757575;
    --footer-color:#2F303A;
}
li{
    list-style-type: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.link{
    text-decoration: none;
    font-style: normal;

}
.logo-link{
    text-decoration: none;
    
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--main-background);

}

.active-page{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}


/*--------- index -----------*/
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }


.hero {
    background: var(--hero-background);
    text-align: center;
    margin-bottom: 94px;
}
.hero-text {
    
    font-weight: 900;
font-size: 44px;
line-height: 1.37;
/* or 136% */


letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--white-text);
padding-top: 200px;
margin: 0px auto 30px auto;



}
.hero-button {
    display: inline-block;
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
font-family: 'Roboto', sans-serif;
/* identical to box height, or 188% */

margin-bottom: 200px;
align-items: center;

letter-spacing: 0.06em;
background-color: var(--hero-btncolor);
color: var(--white-text);
}
.section {
    background-color: var(--main-background);
}
.section-team{
    background: var(--team-backround);
    padding-top: 94px;
}
.title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-name);
margin-bottom: 50px;
}
.features-text{
    display: flex;
    margin-bottom: 94px;
}
.features-text:not(:last-child){
    margin-right: 30px;
}
.pre-title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--title-name);
display: block;
margin-bottom: 10px;
}
.pre-title-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--title-text);
display: block;
}
.our-work-images{
    display: inline-flex;
    margin-bottom: 94px;
}
.our-work-images:not(:last-child){
    margin-right: 30px;
}
.card-content{
    background-color: var(--main-background);
    margin-bottom: 94px;
}

.team-member {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--title-name);
padding-top: 30px;


}
.team-member-role {
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--title-text);
margin-top: 10px;
margin-bottom: 30px;

}
.team-member-img{
    margin-top: 30px;

}
.our-team{
    display: flex;
    margin-left: -30px;

}
.our-team > .our-member{
flex-basis: calc(100% / 4 - 30px);
margin-left: 30px;
}
.our-member{

}
.footer-nav{
    padding-top: 60px;
    padding-bottom: 20px;
}

/*--------- portfolio -----------*/

.header {
    background: var(--main-background);
    height: 80px;
    
}

nav{
display: flex;
}
.site-nav{
    display: flex;
}
.main-nav{
    display: flex;
}
.contacts-nav{
    display: flex;
    
}
.site-nav li:not(:last-child){
    margin-right: 50px;
}
.site-nav li{
    display: block;
    padding-top: 32px;
    padding-bottom: 32 px;

}
.contacts-nav li{
    display: block;
    padding-top: 32px;
    padding-bottom: 32 px;
    
}
.contacts-nav li:not(:last-child){
    margin-right: 50px;
    margin-left: auto;
}


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
   
}
.logo-blue {
    color: var(--blue-logo);
}
.logo-black {
    color: var(--black-logo);
}
.logo-white{
    color: var(--white-logo);
}

.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-name);
}
.header-contacts {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-text);
    display: flex;
}
.header-contacts li:not(:last-child){
    margin-right: 50px;
}
.header-contacts li{
    display: block;
    padding-top: 32px;
    padding-bottom: 32 px;

}
.main {
    background: var(--main-background);
}
.button {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: var(--title-name);
}
.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: var(--white-text);
}
.pointer {
    cursor: pointer;
  }

.portfolio-item-title {
    font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--title-name);
}
.portfolio-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: var(--title-text);
}
.footer {
    background: var(--footer-color);
}
.footer-address{
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--white-text);
}
.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}
.footer-items:not(:last-child){
    padding-bottom: 9px;
}
.footer-items:last-child{
    padding-bottom: 60px;
}