:root{
    --accent-color: #2196F3;
    --hero-btncolor:#2196F3;
    --blue-logo:#2196F3;
    --black-logo:#000000;
    --white-logo:#ffffff;
    --hero-background: #2F303A;
    --white-text: #ffffff;
    --main-background: #ffffff;
    --team-backround:#F5F4FA;
    --title-name:#212121;
    --title-text:#757575;
    --footer-color:#2F303A;
}
li{
    list-style-type: none;
}
.link{
    text-decoration: none;
    font-style: normal;

}
.logo-link{
    text-decoration: none;
    
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--main-background);

}

.active-page{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}


/*--------- index -----------*/
.container{
    width: 1200px;
    
}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }


.hero {
    background: var(--hero-background);
}
.hero-text {
    font-weight: 900;
font-size: 44px;
line-height: 1.37;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--white-text);

}
.hero-button {
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
font-family: 'Roboto', sans-serif;
/* identical to box height, or 188% */


align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--hero-btncolor);
color: var(--white-text);
}
.section {
    background-color: var(--main-background);
}
.section-team{
    background: var(--team-backround);
}
.title {
    font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: var(--title-name);
}
.pre-title {
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--title-name);
}
.pre-title-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--title-text);
}
.team-member {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--title-name);
}
.team-member-role {
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: var(--title-text)
}

/*--------- portfolio -----------*/

.header {
    background: var(--main-background);
    height: 80px;
    
}


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
   
}
.logo-blue {
    color: var(--blue-logo);
}
.logo-black {
    color: var(--black-logo);
}
.logo-white{
    color: var(--white-logo);
}

.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-name);
}
.header-contacts {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-text);
}
.main {
    background: var(--main-background);
}
.button {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: var(--title-name);
}
.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: var(--white-text);
}
.pointer {
    cursor: pointer;
  }

.portfolio-item-title {
    font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: var(--title-name);
}
.portfolio-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.88;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: var(--title-text);
}
.footer {
    background: var(--footer-color);
}
.footer-address{
    font-weight: 400;
font-size: 14px;
line-height: 1.71;
/* or 171% */

letter-spacing: 0.03em;

color: var(--white-text);
}
.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}